@import '../../../styles/variables';
$root: '.AgencyInformation';

#{$root} {
  &-earning {
    & > div {
      margin-bottom: 6px;
    }
  }

  .Tag {
    top: 12px;
    right: 0;
  }
  .container {
    .price-category {
      &-container {
        margin-bottom: 6px;
        &:last-child {
          margin-bottom: 24px;
        }
      }
      &__title {
        margin-bottom: 6px;
      }
      &__description {
        &-price {
          margin-bottom: 6px;
          &:last-child {
            margin-bottom: 0px;
          }
        }
      }
    }
  }

  &-accordian {
    box-shadow: none;
    border: none;
    border-radius: none;

    .SecondaryAccordion-header {
      font-size: 14px;
      font-family: 'Montserrat SemiBold';
      padding: 24px 0px 12px;
      border-bottom: none;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
    .SecondaryAccordion-header__icon {
      width: 20px;
      height: 20px;
      border: 1px solid $royalBlue;
      margin-left: 6px;
      > svg {
        width: 8px;
        height: 8px;
      }
    }
  }
}
