@import '../../../styles/variables';
$root: '.AgencyInformation';

#{$root} {
  background-color: $athensGray;
  &-commission {
    & > div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
  }

  &-tax {
    & > div {
      margin-bottom: 10px;
    }
  }

  &-accordian {
    box-shadow: none;
    border: none;
    border-radius: none;

    .SecondaryAccordion-header {
      font-size: 14px;
      font-family: 'Montserrat SemiBold';
      padding: 24px 0px 12px;
      border-bottom: none;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
    }
    .SecondaryAccordion-header__icon {
      width: 20px;
      height: 20px;
      border: 1px solid $royalBlue;
      margin-left: 6px;
      > svg {
        width: 8px;
        height: 8px;
      }
    }
  }
}
