@import './../../styles/global.scss';

$root: '.TransferList';

#{$root} {
  &-section {
    border: 1px solid #c3c3c3;
    padding: 26px 40px;
    background-color: $white;
    border-radius: 4px;
  }

  .customList {
    &-selected {
      color: $royalBlue;
    }
  }
}
