@import '../../../../styles/variables';

$root: '.AgencyCommission';

#{$root} {
  &-container {
    margin-bottom: 20px;
    &-form {
      padding: 40px 30px;
      background-color: $biscayLight;
    }
    &-table {
      & table {
        border: none;
      }
      &-head {
        .MuiTableCell-sizeSmall {
          padding: 16px 12px;
        }
        .MuiTableCell-sizeSmall:last-child {
          padding-right: 18px;
        }

        .MuiTableCell-sizeSmall:first-child {
          padding-left: 18px;
        }
      }
      & th {
        font-family: 'Montserrat Regular';
        font-size: 14px;
        color: $mineShaft;
        font-weight: 600;
      }

      & td {
        font-family: 'Montserrat Regular';
        font-size: 14px;
        color: $mineShaft;
      }

      &-body {
        .MuiTableCell-sizeSmall {
          padding: 6px 12px;
        }

        .MuiTableCell-sizeSmall:last-child {
          padding-right: 18px;
        }

        .MuiTableCell-sizeSmall:first-child {
          padding-left: 18px;
        }
        & > tr {
          background: $mercury;
        }

        & > tr:nth-child(2n) {
          background-color: $white;
        }
      }
    }
  }
}
