@import '../../styles/variables.scss';

$root: '.Avatar';

#{$root} {
  display: flex;
  align-items: center;
  border-radius: 50%;
  justify-content: center;
  background-color: $silver1;
  color: $white;
  padding: 6px;
}
