@import './../../styles/variables';
$root: '.CustomCheckbox';

#{$root} {
  margin-bottom: 10px;
  &-checkedIcon {
    border: 1px solid $royalBlue;
    font-size: 20px !important;
    color: $royalBlue;
    border-radius: 2px;
  }

  .CustomCheckbox-disabled {
    border: 1px solid $black5;
    color: $black5;
  }

  .MuiCheckbox {
    &-root {
      padding: 0;
      margin-right: 8px;
    }
  }
  &-icon {
    width: 20px;
    height: 20px;
    border: 1px solid $royalBlue;
    border-radius: 2px;
    background-color: $white;

    &.checked {
      background-color: $royalBlue;
      .MuiSvgIcon-root {
        color: $white;
        width: 16px;
        height: 16px;
      }
    }
  }
  &-label {
    width: 100%;
  }
}
