@import '../../../styles/variables';
$root: '.ChangeOffice';

#{$root} {
  &-head {
    padding: 36px 75px;
    background-color: $white;
  }
  &-tableAction {
    padding: 12px 0px;
    > div {
      text-decoration: none;
      color: $black;
      padding: 6px 36px;
      &:hover {
        color: $royalBlue;
        border-left: 2px solid $royalBlue;
        padding-left: 34px;
        padding-right: 34px;
        font-family: 'Montserrat SemiBold';
      }
    }
  }
  &-table {
    background-color: $athensGray;
    padding: 36px 75px;
    .PrimaryTable {
      margin: 0px;
    }
  }
}
