@import '../../styles/variables';
$root: '.Home';

#{$root} {
  &-features {
    background-color: $white;
    padding: 60px 140px;
    &-title {
      color: $black;
    }
    &-single {
      &__icon {
        height: 48.5px;
      }
      &__para {
        color: $black;
      }
    }
  }
}
