@import '../../styles/variables';
@import '../../styles/functions';
$root: '.Home';

#{$root} {
  &-features {
    background-color: $white;
    padding: 60px 0;
    &-title {
      color: $black;
    }
    &-single {
      &__title {
        padding-left: 14px !important;
        margin-left: -18px;
        line-height: 20px !important;
      }
      &__icon {
        height: 48.5px;
      }
      &__para {
        color: $black;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #{$root} {
    &-features {
      padding: calculateRem(60px) 0;
      .layout-wrapper {
        margin-left: 76px;
        margin-right: 76px;
      }
      &-single {
        &__title {
          font-size: 12px !important;
        }
        &__para {
          font-size: 11px !important;
          line-height: 18px !important;
        }
      }
    }
  }
}
