@import '../../../styles/variables';

$root: '.CreatePccForm';

#{$root} {
  padding: 32px 70px 40px;

  &-left {
    padding-right: 70px;
    border-right: 1px solid $mercury1;
  }

  &-right {
    padding-left: 70px;
  }
}
