@import './../../styles/global.scss';

$root: '.alert';

#{$root} {
  padding: 36px;
  border-radius: 6px;
  display: flex;
  box-shadow: 0px 0px 6px #00000029;

  &.danger {
    background-color: $white;
    border: 1px solid $red2;
  }
  &.success {
    background-color: $white;
    border: 1px solid $crete;
  }
  &-border {
    &::before {
      content: '';
      display: inline-block;
      width: 5px;
    }
    &.danger {
      border-radius: 6px;
      background-color: $red2;
    }
    &.success {
      border-radius: 6px;
      background-color: $crete;
    }
  }
  &-content {
    width: 100%;
    &__text {
      max-width: 85%;
      margin-left: 16px;
      margin-bottom: 10px;
      .icon {
        margin-right: 20px;
        min-width: 29px;
        height: 29px;
        border-radius: 50%;
        &.danger {
          border: 2px solid $red2;
        }
        &.success {
          border: 2px solid $crete;
        }
      }
      .alert-text {
        &.danger {
          color: $red2;
        }
        &.success {
          color: $crete;
        }
        &__title {
          font-size: 24px;
          text-transform: uppercase;
          font-family: 'Montserrat SemiBold';
          padding-bottom: 10px;
        }
        &__message {
          font-size: 22px;
          line-height: 30px;
          font-family: 'Montserrat Medium';
          color: $black;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px) {
  #{$root} {
    &-border {
      &::before {
        width: 8px;
      }
    }
    &-content {
      &__text {
        max-width: 100%;
        .icon {
          margin-top: 8px;
        }
        .alert-text {
          &__title {
            font-size: 20px;
            line-height: 48px;
          }
          &__message {
            font-size: 18px;
            line-height: 24px;
          }
        }
      }
    }
  }
}
