$alto: #d1d1d1;
$alto1: #d8d8d8;
$athensGray: #f1f4f6;
$athensGray1: #f9fafb;
$biscay: #1c466c;
$black: #000;
$black1: #00000029;
$black2: #00000033;
$black3: #00000038;
$black4: #00000066;
$black5: #00000080;
$black6: #00000087;
$california: #fca206;
$california1: #fca20633;
$codGray: #1a1a1a;
$codGray1: #111;
$cornflowerBlue: #4285f4;
$cornflowerBlueLight: #4285f421;
$doveGray: #707070;
$dustyGray: #979797;
$gallery: #EAEAEA;
$gray: #8d8d8d;
$gulfBlue: #05164d;
$gulfBlue1: #05164d57;
$japaneseLaurel: #0080001a;
$jacksonsPurple: #201aa21a;
$jacksonsPurple1: #201aa2de;
$mercury: #e2e2e2;
$mercury1: #e6e6e6;
$mineShaft: #333333;
$mystic: #dbe4eb;
$paleSky: #6d757d;
$pippin: #ffe5e5;
$red: #f00;
$royalBlue: #436bec;
$shuttleGray: #65686d;
$silver: #bfbfbf;
$silver1: #bdbdbd;
$silverChalice: #aaa;
$silverChalice1: #B0B0B0;
$sushi: #6dba3c;
$tara: #e3f7eb;
$tuna: #353a40;
$tundora: #444;
$wildSand: #f5f5f5;
$white: #fff;
$zircon: #f0f4ff;
