@import './variables.scss';
@import './_fonts.scss';

body {
  background-color: $athensGray;
  font-family: 'Montserrat Regular';
  margin: 0;
}

p {
  margin: 0px;
}

// Display properties
.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.d-inline {
  display: inline;
}

.d-grid {
  display: grid;
}

// Flex directions
.flex-direction-column {
  flex-direction: column;
}

// Positions
.position-relative {
  position: relative;
}

// Flexbox
.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: flex-start;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

.flex-wrap-wrap {
  flex-wrap: wrap;
}

// Text Alignment
.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

// Text Transformation
.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.text-decoration-none {
  text-decoration: none;
}

// Font families
.font-primary-regular {
  font-family: 'Montserrat Regular';
}

.font-primary-medium {
  font-family: 'Montserrat Medium';
}

.font-primary-semibold {
  font-family: 'Montserrat SemiBold';
}

.font-primary-bold {
  font-family: 'Montserrat Bold';
}

// Fonts with basic properties

.font-primary-regular-12 {
  @extend .font-primary-regular;
  font-size: 12px;
  line-height: 15px;
}

.font-primary-regular-13 {
  @extend .font-primary-regular;
  font-size: 13px;
  line-height: 16px;
}

.font-primary-regular-12 {
  @extend .font-primary-regular;
  font-size: 12px;
  line-height: 15px;
}

.font-primary-regular-14 {
  @extend .font-primary-regular;
  font-size: 14px;
  line-height: 18px;
}

.font-primary-regular-16 {
  @extend .font-primary-regular;
  font-size: 16px;
  line-height: 25px;
}

.font-primary-regular-18 {
  @extend .font-primary-regular;
  font-size: 18px;
  line-height: 25px;
}

.font-primary-regular-20 {
  @extend .font-primary-regular;
  font-size: 20px;
  line-height: 24px;
}

.font-primary-regular-22 {
  @extend .font-primary-regular;
  font-size: 22px;
  line-height: 24px;
}

.font-primary-medium-12 {
  @extend .font-primary-medium;
  font-size: 12px;
  line-height: 14px;
}

.font-primary-medium-13 {
  @extend .font-primary-medium;
  font-size: 13px;
  line-height: 16px;
}

.font-primary-medium-14 {
  @extend .font-primary-medium;
  font-size: 14px;
  line-height: 18px;
}

.font-primary-medium-16 {
  @extend .font-primary-medium;
  font-size: 16px;
  line-height: 19px;
}

.font-primary-medium-16-1 {
  @extend .font-primary-medium;
  font-size: 16px;
  line-height: 20px;
}

.font-primary-medium-18 {
  @extend .font-primary-medium;
  font-size: 18px;
  line-height: 22px;
}

.font-primary-medium-20 {
  @extend .font-primary-medium;
  font-size: 20px;
  line-height: 19px;
}

.font-primary-medium-22 {
  @extend .font-primary-medium;
  font-size: 22px;
  line-height: 27px;
}

.font-primary-medium-24 {
  @extend .font-primary-medium;
  font-size: 24px;
  line-height: 29px;
}

.font-primary-medium-30 {
  @extend .font-primary-medium;
  font-size: 30px;
  line-height: 32px;
}

.font-primary-medium-36 {
  @extend .font-primary-medium;
  font-size: 36px;
  line-height: 32px;
}

.font-primary-medium-32 {
  @extend .font-primary-medium;
  font-size: 32px;
  line-height: 34px;
}

.font-primary-medium-42 {
  @extend .font-primary-medium;
  font-size: 42px;
  line-height: 34px;
}

.font-primary-semibold-13 {
  @extend .font-primary-semibold;
  font-size: 13px;
  line-height: 16px;
}

.font-primary-semibold-10 {
  @extend .font-primary-semibold;
  font-size: 10px;
  line-height: 14px;
}

.font-primary-semibold-12 {
  @extend .font-primary-semibold;
  font-size: 12px;
  line-height: 15px;
}

.font-primary-semibold-14 {
  @extend .font-primary-semibold;
  font-size: 14px;
  line-height: 18px;
}

.font-primary-semibold-16 {
  @extend .font-primary-semibold;
  font-size: 16px;
  line-height: 25px;
}

.font-primary-semibold-16-1 {
  @extend .font-primary-semibold;
  font-size: 16px;
  line-height: 19px;
}

.font-primary-semibold-16-1 {
  @extend .font-primary-semibold;
  font-size: 16px;
  line-height: 19px;
}

.font-primary-semibold-18 {
  @extend .font-primary-semibold;
  font-size: 18px;
  line-height: 25px;
}

.font-primary-semibold-20 {
  @extend .font-primary-semibold;
  font-size: 20px;
  line-height: 25px;
}

.font-primary-semibold-22 {
  @extend .font-primary-semibold;
  font-size: 22px;
  line-height: 25px;
}

.font-primary-bold-14 {
  @extend .font-primary-bold;
  font-size: 14px;
  line-height: 18px;
}

.font-primary-bold-16 {
  @extend .font-primary-bold;
  font-size: 16px;
  line-height: 19px;
}

.font-primary-semibold-24 {
  @extend .font-primary-semibold;
  font-size: 24px;
  line-height: 25px;
}

.font-primary-bold-14 {
  @extend .font-primary-bold;
  font-size: 14px;
  line-height: 18px;
}

.font-primary-bold-16 {
  @extend .font-primary-bold;
  font-size: 16px;
  line-height: 19px;
}

.font-primary-bold-18 {
  @extend .font-primary-bold;
  font-size: 18px;
  line-height: 22px;
}

.font-primary-bold-20 {
  @extend .font-primary-bold;
  font-size: 20px;
  line-height: 25px;
}

.font-primary-bold-22 {
  @extend .font-primary-bold;
  font-size: 22px;
  line-height: 27px;
}

.font-primary-bold-26 {
  @extend .font-primary-bold;
  font-size: 26px;
  line-height: 25px;
}

// Borders
.border-dark-gray-thin {
  border: 1px solid $doveGray;
}

.border-bottom-dark-gray-thin {
  border-bottom: 1px solid $doveGray;
}

.border-right-gray-thin {
  border-right: 1px solid $mercury;
}

.border-left-gray-thin {
  border-left: 1px solid $mercury;
}

.border-none {
  border: none;
}

// Cursors
.cursor-pointer {
  cursor: pointer;
}

.cursor-disabled {
  cursor: not-allowed;
}

// Box Shadows
.box-shadow-primary {
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.16);
}

.box-shadow-secondary {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.box-shadow-ternary {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

/**
  Paddings
*/

/* Padding Vertical */
.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.py-12 {
  padding-top: 12px;
  padding-bottom: 12px;
}

.p-0 {
  padding: 0;
}

.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}

.pt-0 {
  padding-top: 0;
}

.pt-4 {
  padding-top: 4px;
}

.pt-20 {
  padding-top: 20px;
}

.pt-24 {
  padding-top: 24px;
}
.pt-32 {
  padding-top: 32px;
}
.pt-36 {
  padding-top: 36px;
}

// Padding Horizontal
.px-6 {
  padding-left: 6px;
  padding-right: 6px;
}
.px-16 {
  padding: 0 16px;
}

.px-24 {
  padding: 0 24px;
}

.px-40 {
  padding: 0 40px;
}
.px-48 {
  padding: 0 48px;
}

// Padding right
.pr-8 {
  padding-right: 8px;
}

.pr-12 {
  padding-right: 12px;
}

.pr-20 {
  padding-right: 20px;
}

.pr-30 {
  padding-right: 30px;
}

.pr-36 {
  padding-right: 36px;
}

.pr-72 {
  padding-right: 72px;
}

// Padding bottom

.pb-4 {
  padding-bottom: 4px;
}

.pb-8 {
  padding-bottom: 8px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-28 {
  padding-bottom: 28px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-32 {
  padding-bottom: 32px;
}

.pb-36 {
  padding-bottom: 36px;
}

// Padding Left
.pl-6 {
  padding-left: 6px;
}

.pl-8 {
  padding-left: 8px;
}

.pl-10 {
  padding-left: 10px;
}

.pl-16 {
  padding-left: 16px;
}

.pl-24 {
  padding-left: 24px;
}

.pl-36 {
  padding-left: 36px;
}

/*Margins*/

//Margin Vertical

.my-4 {
  margin: 4px 0px;
}

.my-6 {
  margin: 6px 0px;
}

.my-8 {
  margin: 8px 0px;
}

.my-24 {
  margin: 24px 0px;
}

//Margin top
.mt-6 {
  margin-top: 6px;
}

.mt-24 {
  margin-top: 24px;
}

.mt-30 {
  margin-top: 30px;
}
.mt-32 {
  margin-top: 32px;
}

// Margin right
.mr-6 {
  margin-right: 6px;
}
// Margin right

.mr-10 {
  margin-right: 10px;
}

.mr-12 {
  margin-right: 6px;
}

.mr-14 {
  margin-right: 14px;
}

.mr-20 {
  margin-right: 20px;
}

.mr-24 {
  margin-right: 24px;
}

// Margin Bottom
.mb-0 {
  margin-bottom: 0;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-22 {
  margin-bottom: 22px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-44 {
  margin-bottom: 44px;
}

.mb-66 {
  margin-bottom: 66px;
}

// Margin Left
.ml-auto {
  margin-left: auto;
}

.ml-4 {
  margin-left: 4px;
}

.ml-8 {
  margin-left: 8px;
}

.ml-14 {
  margin-left: 14px;
}

.ml-15 {
  margin-left: 15px;
}

.ml-16 {
  margin-left: 16px;
}

.ml-28 {
  margin-left: 28px;
}

.ml-144 {
  margin-left: 144px;
}

.mr-4 {
  margin-right: 4px;
}

.mr-10 {
  margin-right: 10px;
}

.mr-14 {
  margin-right: 14px;
}

.mr-16 {
  margin-right: 16px;
}

// Margin Left
.ml-auto {
  margin-left: auto;
}

.ml-14 {
  margin-left: 14px;
}

.ml-15 {
  margin-left: 15px;
}

.thin-red-border {
  border: 1px solid $red;
}

.thick-left-blue-border {
  border-left: 4px solid $biscay;
}

.input-disabled {
  background-color: $mercury1;
  color: $black5;
}

.error-message {
  color: $red;
}

.btn-disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.line-height-36 {
  line-height: 36px;
}

/* Border Radius */

.br-6 {
  border-radius: 6px;
}

.br-6 {
  border-radius: 4px;
}

/* divider */

.horizontal-grey-divider {
  border: none;
  height: 1px;
  flex-shrink: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.12);
}

.route-wrapper {
  min-height: calc(100vh - 150px);
}

.line-height-36 {
  line-height: 36px;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.link-text {
  color: $royalBlue;
  cursor: pointer;
}

.layout-wrapper {
  padding-left: 140px;
  padding-right: 140px;
}

// Loader Styles
.loader-bg {
  background-color: rgba($color: #000000, $alpha: 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10000;
}

.Active {
  &:before {
    background-color: $malachite;
  }
}

.Inactive {
  &:before {
    background-color: $webOrange;
  }
}

.Freeze {
  &:before {
    background-color: $red;
  }
}

.Register {
  &:before {
    background-color: $turbo;
  }
}

.Reject {
  &:before {
    background-color: $red;
  }
}
