$primary: #1c466c;
$primaryLight: rgba($primary, 0.15);
$primaryLightest: rgba($primary, 0.06);
$color1: #000000;
$color2: #6c6f74;
$color3: #7f7f7f;
$color4: #8d8d8d;
$color5: #e2e2e2;
$color6: #fafafa;
$color7: #ff0000;
$color8: #ffa500;
$color9: #ffe600;
$color10: #6dba3c;
$color11: #4b74ff;
$color12: rgba($color11, 1);
$color13: rgba($color7, 1);
$color14: #6dba3c;
$color15: #e3f7eb;
$color16: #4b7d2f;
$color17: #201aa2;
$color18: rgba($color17, 0.1);
$color19: #fca206;
$color20: rgba($color19, 0.1);
$color21: #74d3dc;
$color22: rgba($color21, 0.1);
