@import './../../styles/variables';
@import './../../styles/functions';
$root: '.Search';

#{$root} {
  &-banner {
    box-sizing: border-box;
    background-image: url('./../../../../public/assets/images/home-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 142px !important;
    padding-bottom: 68px !important;
    &-panel {
      background-color: $white;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 10px;
      padding: 42px;
      position: relative;

      &__icon {
        width: 70px;
        height: 70px;
        background-color: $white;
        border-radius: 50%;
        position: absolute;
        z-index: 3;
        top: -44px;
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 3px 6px #00000029;

        &-active {
          background-color: $royalBlue;
        }
      }
    }
  }

  &-alert {
    background-color: $biscay;
    padding: 12px 0px 12px 138px;
    color: $white;
  }

  &-recentSearches {
    background-color: $white;
    padding-top: 40px !important;
    padding-bottom: 20px !important;
    &-single {
      background: transparent linear-gradient(103deg, #fdfcfb 0%, #e2d1c3 100%)
        0% 0% no-repeat padding-box;
      box-shadow: 0px 0px 2px #00000029;
      border-radius: 4px;
      opacity: 1;
      padding: 12px 16px;
      position: relative;

      &__icon {
        width: 40px;
        height: 40px;
        background-color: $webOrange;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 12px;
        right: 16px;
      }
      &__btn {
        color: $royalBlue;
        position: absolute;
        right: 16px;
        bottom: 12px;
      }
    }
  }

  &-deals {
    padding-top: 40px !important;
    padding-bottom: 20px !important;

    &-flights {
      border-bottom: 2px solid $doveGray;
    }

    &-next {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $royalBlue;
      border-radius: 50%;
    }

    &-prev {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $royalBlue;
      border-radius: 50%;
    }

    &-from {
      color: #00000073;
      &__location {
        color: $royalBlue;
      }
    }

    &-slider {
      &-img {
        width: 100%;
        height: 280px;
        img {
          width: 100%;
          height: 100%;
        }
      }
      &-single {
        background-color: $white;
        padding: 36px;
        position: relative;

        &__price {
          position: absolute;
          top: 50%;
          right: 36px;
          transform: translate(0%, -50%);
          & > div:first-child {
            color: #00000073;
          }
          & > div:nth-child(2) {
            color: $royalBlue;
          }
        }
      }
    }
  }

  &-newsletter {
    padding: 44px 0px;
    background: url('../../../../public/assets/images/newsletter-bg.png')
      rgba(0, 0, 0, 0.48);
    background-blend-mode: overlay;
    background-size: cover;

    & > div:first-child {
      color: $white;
    }

    & > div:nth-child(2) {
      color: $white;
    }

    &-textInput {
      padding: 16px;
      background-color: $white;
      width: 788px;
      border-radius: 4px 0px 0px 4px;
    }
    &-btn {
      padding: 16px;
      background-color: $biscay;
      color: $white;
      border-radius: 0px 4px 4px 0px;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #{$root} {
    &-banner {
      padding-right: 0;
      padding-left: 0;
      &-panel {
        padding: calculateRem(42px);
        &__icon {
          width: calculateRem(70px);
          height: calculateRem(70px);
          top: calculateRem(-44px);
        }
      }
    }
  
    &-recentSearches {
      padding-top: calculateRem(40px);
      padding-bottom: calculateRem(20px);
      &-single {
        padding: calculateRem(12px) calculateRem(16px);
  
        &__icon {
          width: calculateRem(40px);
          height: calculateRem(40px);
          top: calculateRem(12px);
          right: calculateRem(16px);
        }
        &__btn {
          right: calculateRem(16px);
          bottom: calculateRem(12px);
        }
      }
    }
  
    &-deals {
      padding-top: calculateRem(40px);
      padding-bottom: calculateRem(20px);
  
      &-next {
        width: calculateRem(30px);
        height: calculateRem(30px);
      }
  
      &-prev {
        width: calculateRem(30px);
        height: calculateRem(30px);
      }
  
      &-slider {
        &-single {
          padding: calculateRem(36px);
  
          &__price {
            right: calculateRem(36px);
          }
        }
      }
    }
  
    &-newsletter {
      padding: calculateRem(44px) 0;
      &-textInput {
        padding: calculateRem(16px);
        width: calculateRem(788px);
      }
      &-btn {
        padding: calculateRem(16px);
      }
    }
  }
}