@import './../../styles/functions';

$root: '.CustomDrawer';

#{$root} {
  padding: 0 20px 20px 38px;
  padding-top: calculateRem(100px);
  box-sizing: border-box;
  &-divider {
    margin: 4px 75px 0px !important;
  }

  &-title {
    text-transform: uppercase;
  }
}
