@import '../../../../styles/variables';

$root: '.CreateDeal';

#{$root} {
  &-head {
    padding: 36px 100px;
    background-color: $white;
  }
  &-panel {
    padding: 80px 100px;
    .Panel-body > div:first-child {
      margin-bottom: 20px;
    }
    .Panel-body > div {
      margin-bottom: 32px;
    }
  }
}
