$root: ".FareSummary";

#{$root} {
	.container {
		.price-category {
			&-container {
				margin-bottom: 14px;
			}
			&__title {
				margin-bottom: 14px;
			}
			&__description {
				&-price {
					margin-bottom: 10px;
				}
			}
		}
	}
}
