@import '../../styles/variables';

$root: '.PrimaryLoader';

#{$root} {
  background-color: rgba($color: $black1, $alpha: 0.4);
  z-index: 9999;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 150px);
}
