@import "../../styles/variables.scss";

$root: ".Link";

#{$root} {
  &-brackets {
    color: $black5;
  }
  &-text {
    color: $royalBlue;
  }
  span {
    &:first-child {
      margin-right: 4px;
    }
    &:last-child {
      margin-left: 4px;
    }
  }
}
