@import "./../../../../styles/variables";
@import "./../../../../styles/functions";

$root: ".FlightDetails";

#{$root} {
  padding-top: 32px;
  margin-bottom: 24px;
  // Flight Segment
  .FlightSegment {
    height: 100%;
    &-segment {
      margin-left: calculateRem(144px);
      margin-bottom: 24px;
    }
    &-content {
      width: 100%;
      height: 100%;
      &__date {
        display: flex;
        margin-left: calculateRem(144px);
        &:first-of-type {
          margin-bottom: 24px;
        }
        &:last-of-type {
          margin-top: 24px;
        }
      }
      &__segmentGroup {
        display: inline-block;
        margin-left: calculateRem(52px);
      }
    }
  }
  // Flight Segment Group
  .FlightSegmentGroup {
    &-left {
      > div {
        width: 48px;
      }
    }
    &-middle {
      margin: 0 12px 20px 12px;
      > svg {
        margin-bottom: 2px;
      }
      &__dotContainer {
        height: 20px;
        width: 20px;
      }
    }
    &-right {
      &__flightInformation {
        margin: 24px 0;
        margin-bottom: 0;
        .flight-info {
          padding: 2px 0;
          .airline-icon {
            width: 24px;
            height: 24px;
            margin-right: 8px;
          }
          .airline-text {
            padding-right: 8px;
            line-height: normal;
          }
        }
      }
    }
  }
  // Flight Layover
  .FlightLayover {
    > div {
      margin: -20px 20px 0 69px;
    }
  }
}

@media screen and (max-width: 1023px) {
  #{$root} {
    &-content {
      width: 100%;
      &__date {
        display: flex;
        margin: 24px auto;
      }
      &__segmentGroup {
        margin-left: 8px;
      }
    }
    // Flight Segment
    .FlightSegment {
      &-segment {
        margin: 0 auto;
      }
      &-content {
        &__date {
          margin: 24px auto;
        }
        &__segmentGroup {
          margin-left: 0;
        }
      }
    }
    // Flight Segment Group
    .FlightSegmentGroup {
      &-middle {
        margin: 0 6px 20px 6px;
      }
      &-right {
        &__flightInformation {
          margin: 12px 0;
          .flight-info {
            .airline-icon {
              margin-right: 4px;
            }
            .airline-text {
              padding-right: 4px;
            }
          }
        }
      }
    }
  }
}