$root: ".btn";

#{$root} {
  text-transform: uppercase;
  font-size: 18px;
  padding: 0 14px;
  min-width: 110px;
  height: 40px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 24px;
  font-family: "Montserrat SemiBold";
  cursor: pointer;
  &-primary {
    background-color: #05164d;
    color: #ffffff;
    border: none;
  }
  &-secondary {
    background-color: transparent;
    color: #05164d;
    border: 1px solid #05164d;
  }
}
