@import './../../../../styles/variables';
@import './../../../../styles/functions';

$root: '.FlightItineraryCard';

#{$root} {
  background-color: $white;
  border-radius: 6px;
  width: 100%;
  position: relative;
  &-content {
    padding: 12px 20px;
  }
  &-deals {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 6px 12px;
    background: #fca2061a 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 4px 4px;
  }
  &-top {
    margin-bottom: 2px;
    &__leftSection {
      width: 950px;
      .segmentType {
        height: 28px;
        width: 100px;
        border-radius: 0 4px 4px 0;
        background-color: $mystic;
        padding: 0 14px;
        margin-left: -20px;
        .icon {
          &.MuiSvgIcon-root {
            color: $black;
            transform: rotate(90deg);
            height: 18px;
            width: 18px;
            margin-right: 8px;
          }
        }
      }
      &:last-child {
        .segmentType {
          .icon {
            &.MuiSvgIcon-root {
              transform: rotate(-90deg);
            }
          }
        }
      }
      .segmentDetail {
        .airline {
          padding: 14px 20px 14px 0;
          margin-right: 68px;
          &-icon {
            border-radius: 4px;
            margin-right: 10px;
            width: 40px;
            height: 40px;
            img {
              width: 100%;
              height: 100%;
            }
          }
          &-name {
            width: 80px;
          }
        }
        .departureTime,
        .arrivalTime {
          width: 130px;
        }
        .arrivalTime {
          .arrivalDate {
            color: $red;
          }
        }
        .stopsInfo {
          width: 292px;
          height: 52px;
          margin: 0 80px;
          .MuiSvgIcon-root {
            color: $gray;
            transform: rotate(90deg);
            height: 24px;
            width: 24px;
            margin-right: 2px;
            margin-bottom: 1px;
          }
          .stops {
            margin: 5px 0;
          }
          .stop-names {
            & > div {
              position: relative;
              &:first-child {
                right: 36px;
              }
              &:last-child {
                left: 26px;
              }
            }
          }
        }
      }
    }
    &__rightSection {
      &-seatsFareInfo {
        position: absolute;
        top: 12px;
        right: 0;
        .Text {
          margin-right: 22px;
        }
        .Tag {
          position: initial;
          border-radius: 4px 0 0 4px;
        }
      }
      &-priceSelectFlight {
        padding: 40px 0 12px 0;
        .price {
          margin-bottom: 10px;
          .MuiSvgIcon-root {
            color: $royalBlue;
            margin-right: 12px;
          }
        }
      }
    }
  }
  &-bottom {
    &__leftAction,
    &__rightAction {
      .MuiSvgIcon-root {
        color: $gray;
        margin-right: 6px;
      }
      .Text {
        color: $royalBlue;
      }
    }
    &__rightAction {
      & > div {
        &:first-child {
          border-right: 1px solid $gray;
          padding-right: 12px;
        }
        &:last-child {
          padding-left: 12px;
          .Text {
            padding-right: 8px;
          }
        }
      }
    }
  }
  &-flightDetails {
    &__tabs {
      border-top: 1px solid rgba(141, 141, 141, 0.6);
      padding: 20px 20px 0 20px;
    }
    &__staticDetails {
      margin-left: auto;
      & > div {
        &:first-child {
          padding-right: 12px;
          border-right: 1px solid $black;
        }
        &:last-child {
          padding-left: 12px;
        }
      }
    }
    &__content {
      padding: 40px 20px 20px;
    }
  }
  .tab {
    margin: 0 38px;
    padding-bottom: 6px;
    color: $royalBlue;
    &:first-child {
      margin-left: 0;
    }
    &.active {
      border-bottom: 2px solid $gray;
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #{$root} {
    &-top {
      & > div:first-child {
        width: calc(100% - 140px);
      }
      &__leftSection {
        width: 100%;
        .segmentDetail {
          .airline {
            padding: calculateRem(14px) calculateRem(20px) calculateRem(14px) 0;
            margin-right: 3%;
            &-icon {
              margin-right: calculateRem(10px);
              width: calculateRem(40px);
              height: calculateRem(40px);
            }
            &-name {
              width: calculateRem(80px);
            }
          }
          .departureTime,
          .arrivalTime {
            width: calculateRem(130px);
          }
          .stopsInfo {
            width: calculateRem(292px);
            margin: 0 calculateRem(32px);
          }
        }
      }
      &__rightSection {
        &-seatsFareInfo {
          .Text {
            margin-right: calculateRem(16px);
          }
        }
        &-priceSelectFlight {
          padding: calculateRem(40px) 0 calculateRem(12px) 0;
          .price {
            .MuiSvgIcon-root {
              margin-right: calculateRem(12px);
            }
          }
        }
      }
    }
    &-flightDetails {
      &__tabs {
        padding: calculateRem(20px) calculateRem(20px) 0 calculateRem(20px);
      }
      &__content {
        padding: calculateRem(40px) calculateRem(20px) calculateRem(20px);
      }
    }
    .tab {
      margin: 0 calculateRem(38px);
    }
  }
}
