@import "./../../styles/variables";
$root: ".RangeSlider";

#{$root} {
  .MuiSlider {
    &-root {
      color: $biscay;
      padding: 20px 0;
    }
    &-rail, &-track {
      height: 4px;
    }
    &-thumb {
      border: 2px solid;
      background-color: $white;
      height: 24px;
      width: 24px;
      margin-top: -10px;
      margin-left: -12px;
    }
  }
  &-values {
    padding: 0 4px;
  }
}