@import "./../../styles/variables";

$root: ".Chip";

#{$root} {
  border-radius: 6px;
  padding: 8px 24px;
  background: $mystic;
  align-items: center;
  width: auto;

  &.bordered {
    border: 1px solid $doveGray;
    padding: 6px 16px;
    background: transparent;
  }
  svg {
    margin: 0 8px;
  }
}