@import "./../../../styles/variables";
@import "./../../../styles/functions";
$root: ".SearchBar";

#{$root} {
  .MultiSelect {
    .react-select-container {
      font-family: "Montserrat SemiBold";
    }
  }
  &-basicSearch {
    margin-bottom: 16px;
    .MultiSelect {
      padding-right: 22px;
      border-right: 1px solid $doveGray;
      &:nth-child(2), &:nth-child(3) {
        margin-left: 22px;
      }
      &:nth-child(3) {
        border-right: none;
      }
    }
    .DropdownBox {
      margin-left: 22px;
    }
  }
  &-inputs {
    position: relative;
    margin-bottom: 12px;
    &__autoSuggestIcon {
      position: absolute;
      top: 18px;
      left: 20px;
      width: 24px;
      height: 24px;
      opacity: 0.3;
    }
    .RoundedButton {
      position: absolute;
      z-index: 1;
      left: calc(33.33% - 20px);
      top: 16px;
    }
  }
  &-advanceSearch {
    .MultiSelect {
      padding-right: 22px;
      border-right: 1px solid $doveGray;
      &:nth-child(2), &:nth-child(3) {
        margin-left: 22px;
      }
      &:nth-child(3) {
        border-right: none;
      }
    }
    &__searchFlight {
      width: 100%;
      height: 60px;
      padding: 0 24px;
      &.btn {
        font-size: 16px;
      }
    }
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #{$root} {
    &-basicSearch {
      margin-bottom: calculateRem(16px);
      .MultiSelect {
        padding-right: calculateRem(22px);
        &:nth-child(2), &:nth-child(3) {
          margin-left: calculateRem(22px);
        }
      }
      .DropdownBox {
        margin-left: calculateRem(22px);
      }
    }
    &-inputs {
      margin-bottom: calculateRem(12px);
      &__autoSuggestIcon {
        top: calculateRem(18px);
        left: calculateRem(20px);
        width: calculateRem(24px);
        height: calculateRem(24px);
      }
      .RoundedButton {
        top: calculateRem(16px);
      }
    }
    &-advanceSearch {
      .MultiSelect {
        padding-right: calculateRem(22px);
        &:nth-child(2), &:nth-child(3) {
          margin-left: calculateRem(22px);
        }
      }
      &__searchFlight {
        height: calculateRem(60px);
        padding: 0 calculateRem(16px);
        &.btn {
          font-size: calculateRem(16px);
        }
      }
    }
  }
}