@import "./../../../styles/variables";
$root: ".SearchBar";

#{$root} {
  box-sizing: border-box;
  background-size: contain;
  background-repeat: no-repeat;
  padding: 342px 144px 144px;
  &-panel {
    box-sizing: border-box;
    background-color: $white;
    border-radius: 10px;
    padding: 42px;
    &__basicSearch {
      margin-bottom: 16px;
      .MultiSelect {
        padding-right: 22px;
        border-right: 1px solid $doveGray;
        &:nth-child(2), &:nth-child(3) {
          margin-left: 22px;
        }
        &:nth-child(3) {
          border-right: none;
        }
      }
      .DropdownBox {
        margin-left: 22px;
      }
    }
    &__inputs {
      position: relative;
      margin-bottom: 12px;
      &-autoSuggestIcon {
        position: absolute;
        top: 18px;
        left: 20px;
        width: 24px;
        height: 24px;
        opacity: 0.3;
      }
      .RoundedButton {
        position: absolute;
        z-index: 1;
        left: calc(33.33% - 20px);
        top: 16px;
      }
    }
    &__advanceSearch {
      .MultiSelect {
        padding-right: 22px;
        border-right: 1px solid $doveGray;
        &:nth-child(2), &:nth-child(3) {
          margin-left: 22px;
        }
        &:nth-child(3) {
          border-right: none;
        }
      }
      &-searchFlight {
        width: 100%;
        height: 60px;
        padding: 0 24px;
      }
    }
  }
}