@import './../../../styles/functions';
$root: '.Carousel';

#{$root} {
  overflow: hidden;
  &-getStarted {
    display: flex !important;
    width: auto !important;
    justify-content: flex-end;
    height: 495px;
    position: relative;
    background-image: url('../../../../../public/assets/images/home-banner.png');

    &-right {
      width: 350px;
      padding: 32px 50px;
      background-color: white;
    }
  }
  &-form {
    position: absolute;
    right: 144px;
  }
}

@media screen and (min-width: 1280px) and (max-width: 1919px) {
  #{$root} {
    &-getStarted {
      &-right {
        width: calculateRem(350px);
        padding: calculateRem(32px) calculateRem(32px);
      }
    }
    &-form {
      right: calculateRem(80px);
    }
  }
}