@import "../../styles/variables.scss";
$root: ".card";

#{$root} {
  &-title {
    font-size: 20px;
    line-height: 24px;
    font-family: "Montserrat SemiBold";
    text-transform: uppercase;
  }
  &-margin {
    margin-bottom: 10px;
  }
  &-extraMargin {
    margin-bottom: 30px;
  }
  &-container {
    background-color: $white;
    border-radius: 6px;
    &.padded {
      padding: 20px 10px;
    }
  }
}
