@import '../../../styles/variables';
$root: '.BookingReport';

#{$root} {
  &-head {
    padding: 36px 100px;
    background-color: $white;
  }
  &-tableAction {
    padding: 12px 0px;
    > div {
      text-decoration: none;
      color: $black;
      padding: 6px 36px;
      &:hover {
        color: $royalBlue;
        border-left: 2px solid $royalBlue;
        padding-left: 34px;
        padding-right: 34px;
        font-family: 'Montserrat SemiBold';
      }
    }
  }

  &-CustomDrawer {
    padding: 112px 0px 20px 0px;
    .CustomDrawer-header {
      padding: 0px 75px;
    }
    // .CustomDrawer-title:after {
    //   content: '';
    //   border: none;
    //   height: 1px;
    //   flex-shrink: 0;
    //   margin: 0;
    //   background-color: rgba(0, 0, 0, 0.12);
    //   display: block;
    //   width: 100%;
    //   position: absolute;
    //   bottom: -10px;
    // }
  }
}
